html{
    box-sizing: border-box;
}

*, 
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.header{
    
    font-weight: 500;
    font-size: 12px;
    color: #697ca6;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-shadow: 0px 0px 5px #e6e6e6;
    text-transform: capitalize;
    border-bottom: 1px solid #d8e3fe;

    .nav{
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-list{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-item:nth-of-type(1){
                color: #5e81fe;
            }
        }

        &-list:nth-of-type(1){
            gap: 42px;
        }

        &-list:nth-of-type(2){
            margin-left: 150px;
            gap: 30px;
        }
    }

    a:nth-of-type(2){
        padding: 13px 15px;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #3a79ff;
        background-color: #d2e1ff;
    }

}

.introduce{
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    font-family: 'Roboto';
    padding-top: 92px;
    padding-bottom: 232px;
    text-align: center;
    color: #3d4f9f;
    
    *{
        margin: 0;
    }

    &-descr{
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &-title{
        font-family: 'Quicksand';
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        margin-bottom: 28px;

        span{
            font-weight: 500;
        }
    }

    &-text{
        font-family: 'Roboto';
        font-size: 15px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #8d96bd;
        margin-bottom: 20px;
    }

    &-btn{
        border-radius: 50%;
        width: 52px;
        height: 52px;
        padding: 21px 20px 20px 22px;
        background-color: #fff;
        box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
    }
}