html{
    box-sizing: border-box;
}

*, 
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.footer{
    height: 287px;
    padding: 101px 0 93px;
    border-bottom: none;

    &-descr{
        margin-top: 42px;
    }
}

.footer,
.header{
    
    font-weight: 500;
    font-size: 12px;
    color: #697ca6;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-shadow: 0px 0px 5px #e6e6e6;
    text-transform: capitalize;
    border-bottom: 1px solid #d8e3fe;

    .nav{
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-list{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-item:nth-of-type(1){
                color: #5e81fe;
            }
        }

        &-list:nth-of-type(1){
            gap: 42px;
        }

        &-list:nth-of-type(2){
            margin-left: 150px;
            gap: 30px;
        }
    }

    a:nth-of-type(2){
        padding: 13px 15px;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #3a79ff;
        background-color: #d2e1ff;
    }

}

.diff-bgcolor{
    background: linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
}

.introduce{
    background-image: url('../img/chart.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto';
    padding-top: 92px;
    padding-bottom: 232px;
    text-align: center;
    color: #3d4f9f;
    
    *{
        margin: 0;
    }

    &-descr{
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &-title{
        font-family: 'Quicksand';
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        margin-bottom: 28px;

        span{
            font-weight: 500;
        }
    }

    &-text{
        font-family: 'Roboto';
        font-size: 15px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #8d96bd;
        margin-bottom: 20px;
    }

    &-btn{
        height: 52px;
        width: 52px;
        border-radius: 50%;
        padding: 21px; 
        background-color: #fff;
        box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.9);
    }
}

.logos{
    height: 145px;
    padding: 61px 0;
    border-top: 1px solid #d8e3fe;
    border-bottom: 1px solid #d8e3fe;

    &-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.features{
    padding: 171px 0;
    text-align: center;
    &-descr{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d4f9f;
        margin-bottom: 20px;
    }

    &-title{
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #3d4f9f;
        margin-bottom: 92px;
    }

    &-box{
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-bottom: 92px;
    }

    &-item{
        width: 140px;
    }

    &-icon{
        margin-bottom: 33px;
    }

    .box-title{
        margin-bottom: 25px;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #4074f8;
    }

    .box-descr{
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 11px;
        line-height: 19px;
        text-align: center;
        color: #adb3cb;
    }

    &-btn1{
        padding: 13px 15px 16px;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #d43f3f;
        background: #FFD7D7;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 111px;
    }

    &-btn2{
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #3A79FF;
        padding: 13px 15px 16px;      
        background: #D2E1FF;
        border-radius: 2px;
        cursor: pointer;
    }
}

.stats{
    
    display: flex;
    justify-content: center;
    
    &-item{
        flex: 0 0 50%;
    }

    .darkblue{
        padding: 66px 90px;
        background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
        text-align: right;

        .stats-title{
            font-weight: 400;
            font-size: 48px;
            line-height: 83px;
            text-align: right;
            letter-spacing: 0.03em;
            color: #fff;
            margin: 0;
            margin-bottom: 36px;
        }

        .stats-descr{
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-align: right;
            letter-spacing: 0.03em;
            color: #fff;   
        }
    }
    .lightblue{
        width: 100%;
        padding-top: 70px;
        padding-bottom: 66px;
        padding-left: 90px;
        background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
        text-align: left;

        .stats-title{
            font-weight: 400;
            font-size: 48px;
            line-height: 83px;
            letter-spacing: 0.03em;
            color: #5E80FF;
            margin: 0;
            margin-bottom: 37px;
        }

        .stats-descr{
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0.03em;
            color: #5E80FF;  
        }
    }
}

.bg{
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}
.getstarted{
    padding: 91px 0;
    text-align: center;
    background-image: url('../img/clouds.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-descr{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 16px;
    }

    &-title{
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 28px;
        span{

            font-weight: 500;
        }
    }

    &-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #fff;
        margin-bottom: 28px;
    }

    &-btn1{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #565F82;
        padding: 13px 17px;
        background: #FFFFFF;
        box-shadow: 0px 5px 15px #6480E8;
    }

    &-btn2{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #C7D3FF;
        padding: 13px 9px;
        border: 1px solid #A0B4FF;
    }
}

.news{
    padding: 119px;
    background: #FCFDFF;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    &-text-box{
        width: 330px;
    }

    &-title{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #3D4F9F;
    }

    &-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8D96BD;
    }

    &-btn1{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #7A85AD;
        background: #EFEFF7;
        border-radius: 5px;
        padding: 21px 168px 21px 23px;
        margin-right: 14px;
    }
    &-btn2{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #fff;
        background: #4D6CE1;
        box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
        border-radius: 5px;
        padding: 22px 62px 20px;
    }
}